# -----------------------------------------------------------------------------
# App — copia a .env.local y ajusta
# Client (Next) → http://localhost:3000
# API (Nest)    → http://localhost:5300
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5300
BASEPATH=
